/* CSS untuk keseluruhan website */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    margin: 0;
    background-color: #e6e6e8;
    font-family: 'DM Sans';
}

.container {
    padding: 0px 55px;
}

/* CSS untuk header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    padding-top: 15px;
}

/* Untuk Sticky header yang di toggle menggunakan JS apabila di scroll */
header.sticky {
    padding: 5px 0px;
    background-color: #2255b1;

}

header.sticky > .navigasi > a {
    color: white;
}

header.sticky > .navigasi > a:hover {
    color: #ecd452;
}

/* CSS Navigasi */
.logo {
    padding-top: 5px;
    padding-left: 48px;
    height: 50px;
    transition: transform 0.5s;
}

.logo:hover {
    transform: scale(0.95);
}

.navigasi {
    align-content: center;
    padding-right: 30px;
}

.navigasi > a {
    font-size: 22px;
    color: #ec68a5;
    text-decoration: none;
    font-size: 19px;
    margin: 0 10px;
    font-weight: 500;
    transition: 0.5s;
}

.navigasi > a:hover {
    color: #2255b1;
}

/* CSS untuk Hero Section */
.hero-section {
    height: 578px;
    background-image: url("../assets/hero-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.hero-content {
    flex: 2;
    padding: 120px 50px 0px 50px;
    align-content: center;
}

.hero-content > h1 {
    font-size: 65px;
    font-weight: bold;
    color: #2255b1;
    margin: 0;
}

.hero-content > p {
    font-size: 35px;
    font-weight: bold;
    color: #ec68a5;
    margin: 0;
}

#web-explain {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.hero-content > button {
    margin-top: 30px;
    margin-bottom: 70px;
    background-color: #2255b1;
    padding: 15px 32px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.5s;
}

.hero-content > button:hover {
    background-color: #173c80;
    transform: scale(0.95);
}

/* CSS untuk Section 2*/
.section-2 {
    height: 578px;
    background-image: url("../assets/section-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 55px;
}

.section-2 > h1 {
    font-size: 42px;
    color: #173c80;
    padding-top: 40px;
    margin: 0;
    text-align: center;
}

.section-explain {
    font-size: 16px;
    color: #ec68a5; 
    text-align: center;
    padding: 0 50px;
}

/* CSS untuk Section 3*/
.section-3 {
    height: 520px;
    background-image: url("../assets/section-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 55px;
}

.section-3 > h1 {
    color: white;
    font-size: 34px;
    text-align: end;
}

.portfolio-showcase {
    display: flex;
    justify-content: end;
}

.portfolio-showcase > div {
    display: inline-block;
    margin: 0px 15px;
    text-align: center;
}

.portfolio-showcase > div > a {
    text-decoration: none;
    font-size: 22px;
    color: #173c80;
}

.portfolio-showcase > div > a > img {
    border-radius: 50%;
    padding: 10px;
    border: 8px solid #ecd452;
    transition: 0.5s;
    margin-bottom: 10px;
    max-width: 200px;
}

.portfolio-showcase > div > a > img:hover {
    transform: scale(0.95);
}

.button-more {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.button-more > a > button{
    background-color: #2255b1;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 16px;
    color: white;
    transition: 0.5s;
}

.button-more > a > button:hover {
    background-color: #173c80;
    transform: scale(0.95);
}

/* CSS Untuk Section 4 */
.section-4 {
    height: 480px;
    display: flex;
    margin: -20px 0 25px 0px;
}

#message-us-1{
    flex: 1;
    text-align: center;
    background-image: url("../assets/footer-bg.png");
    border-radius: 20px;
}

#message-us-1 > h1 {
    color: white;
    padding-top: 10px;
    font-size: 32px;
    margin-bottom: 0;
}

#message-us-1 > p {
    color: white;
    font-size: 14px;
}

#message-us-1 > .form-inline {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0px 25px;
}

#message-us-2{
    flex: 1;
}

/* Css Untuk Tag Footer */
footer {
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.copyright {
    text-align: center;
    color: white;
    padding: 10px 0;
    margin: 0;
}